<div class="container">
    <app-usernname (userNameEvent)="userNameUpdate($event)" *ngIf="!userName"></app-usernname>
    <h1>Component programing chat app</h1>
    <div class="chatbox">
        <div class="chatbox__user-list">
            <h2>User List</h2>
            <div class="chatbox__user--active" *ngFor="let user of userList">
                <p>{{user}}/p>
            </div>
        </div>
        <div class="messages_list">
            <div class="chatbox_messages" *ngFor="let msg of messageList" [ngClass]="{mine: msg.mine}">
                <div class="user-message">
                    <div class="message-box">
                        <p class="name">{{msg.userName}}</p>
                        <br>
                        <p class="name">{{msg.message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="text" [(ngModel)]="message">
    <button (click)="sendMessage()">send</button>
</div>